@keyframes bottom_to_up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes left_to_right {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes right_to_left {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  padding: 5rem;
  background-color: #FFFFFF;
}

.container {
  background: #f7f7f7;
  z-index: 0;
  position: relative;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-60px {
  margin-bottom: 6rem;
}

.btn {
  position: relative;
}
.btn_animated {
  animation: bottom_to_up 1s ease-out 0.7s;
  animation-fill-mode: backwards;
}
.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #777777;
  padding: 1.5rem 4rem;
  font-size: 2rem;
  background: #FFFFFF;
  border-radius: 50px;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  content: "";
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #777777;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #a14f03;
  transition: all 0.5s;
}
.btn-text:hover {
  background: #a14f03;
  color: #FFFFFF;
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0rem);
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../assets/images/header__background.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.header__title {
  color: #FFFFFF;
}
.header__title_main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: left_to_right;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  backface-visibility: hidden;
}
.header__title_subtitle {
  display: block;
  font-weight: 200;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation-name: right_to_left;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  backface-visibility: hidden;
  margin-bottom: 6.5rem;
}

.section-about {
  padding-top: 8rem;
}

.title-secondary {
  display: inline-block;
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 800;
  background: linear-gradient(90deg, #a14f03 0.03%, rgba(1, 1, 1, 0.7) 99.94%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: transform 0.4s;
  backface-visibility: hidden;
  text-align: center;
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.05);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.title-secondary_white {
  color: #FFFFFF;
}

.title-third {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 140%;
}

.section-adventure {
  padding: 21rem 0rem;
  margin: 15rem 0;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../assets/images/section-adventure.jpg) center/cover no-repeat;
  transform: skewY(7deg);
}
.section-adventure > * {
  transform: skewY(-7deg);
}

.section-tour {
  padding-top: 21rem;
  margin-bottom: 8rem;
}

.section-feedBack {
  position: relative;
  padding: 8rem 0rem;
}

.section-book {
  padding: 10rem;
  background: linear-gradient(90deg, #ba8554, #a14f03);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 50%;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  border-radius: 0.5rem;
  outline-offset: 1rem;
}
.composition__photo_n1 {
  top: 0rem;
  left: 0rem;
}
.composition__photo_n2 {
  right: 0;
  top: 2rem;
}
.composition__photo_n3 {
  top: 13rem;
  left: 10rem;
}
.composition__photo:hover {
  outline: 1rem solid #ba8554;
  scale: 1.1;
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  scale: 0.95;
}

.adventure-card {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 0.5rem;
  transition: all 0.2s;
}
.adventure-card:hover {
  transform: translateY(-0.2rem) scale(1.03);
}
.adventure-card__icon {
  display: inline-block;
  font-size: 6rem;
  background: linear-gradient(90deg, #a14f03 0.03%, rgba(1, 1, 1, 0.7) 99.94%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card-tour {
  position: relative;
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
}
.card-tour__side {
  height: 50rem;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.5s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.card-tour__side_back {
  background: linear-gradient(120deg, #ba8554, #a14f03);
  transform: rotateY(180deg);
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0deg);
}
.card-tour__img {
  height: 20rem;
  background-blend-mode: hard-light;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.card-tour__img_1 {
  background: #ba8554 url("../../assets/images/card-1.jpg") center/cover no-repeat;
}
.card-tour__img_2 {
  background: #ba8554 url("../../assets/images/card-2.jpg") center/cover no-repeat;
}
.card-tour__img_3 {
  background: #ba8554 url("../../assets/images/card-3.jpg") center/cover no-repeat;
}
.card-tour__span {
  padding: 1rem 2rem 0.3rem 2rem;
  background: linear-gradient(90deg, #ba8554, #a14f03);
}
.card-tour__span_2 {
  position: absolute;
  top: 3.4rem;
  right: 0;
  padding-bottom: 1rem;
}
.card-tour__title {
  position: absolute;
  top: 17rem;
  right: 0;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
}
.card-tour__description {
  list-style: none;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.card-tour__description li {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #777777;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid #777777;
}
.card-tour__description li:not(:last-child) {
  margin-bottom: 2rem;
}
.card-tour__backSide-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-tour__text {
  margin-bottom: 8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
.card-tour__text_costen {
  font-size: 1.6rem;
  font-weight: 300;
}
.card-tour__text_valute {
  font-size: 6rem;
  font-weight: 500;
}

.feedBack-card {
  position: relative;
  width: 75%;
  background: rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(330deg);
}
.feedBack-card > * {
  transform: skewX(-330deg);
}
.feedBack-card__img {
  width: 15rem;
  height: 15rem;
  float: left;
  border-radius: 50%;
  shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
}
.feedBack-card__img img {
  width: 100%;
  transition: all 0.7s;
  transform: scale(1.2);
}
.feedBack-card__name {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  transition: all 0.7s;
}
.feedBack-card:hover .feedBack-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedBack-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(60%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  object-fit: cover;
}

.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7), rgba(161, 79, 3, 0.7));
}

.book {
  height: 50rem;
  background: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 57%, rgba(186, 133, 80, 0.9) 57%, rgba(161, 79, 3, 0.9) 100%), url(../assets/images/bg-form.jpg) center/cover no-repeat;
  border-radius: 0.5rem;
  overflow: hidden;
}

.form {
  width: 60%;
  padding-top: 5rem;
  padding-left: 5rem;
}
.form__group:not(:last-child) {
  margin-bottom: 5rem;
}
.form__input {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #000;
  padding: 2rem 0rem 2rem 2rem;
  background: #FFFFFF;
  border: none;
  border-bottom: 0.2rem solid transparent;
  border-radius: 0.5rem;
  width: 55%;
}
.form__input:focus {
  outline: none;
  border-bottom: 0.2rem solid #66d773;
}
.form__input:focus:invalid {
  border-bottom: 0.2rem solid #D76363;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: 0;
  transform: translateY(-3rem);
}
.form__label {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  display: block;
  margin-top: 1rem;
  margin-left: 1.5rem;
  transition: 0.7s all;
}/*# sourceMappingURL=style.css.map */