$color-gray: #777777;
$color-white: #FFFFFF;
$color-black: #000;
$color-browm-light: #ba8554;
$color-browm-dark: #a14f03;
@mixin style-link($color) {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: $color;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    color: $color-gray;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    padding: 5rem;
    background-color: $color-white;
}

.header {
    position: relative;
    height: 95vh;
    background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../assets/images/header__background.jpg) center / cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    &__logo {
        position: absolute;
        left: 5rem;
        top: 5rem;
        height: 7rem;
        width: 5.6rem;
    }
    &__box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }
    &__title {
        color: $color-white;
    }
    &__title_main {
        display: block;
        font-weight: 800;
        font-size: 5rem;
        line-height: 6rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        animation-name: left_to_right;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-timing-function: ease-in;
        backface-visibility: hidden;
    }
    &__title_subtitle {
        display: block;
        font-weight: 200;
        font-size: 4rem;
        line-height: 4.8rem;
        letter-spacing: 0.5rem;
        animation-name: right_to_left;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-timing-function: ease-in;
        backface-visibility: hidden;
        margin-bottom: 6.5rem;
    }
}

.btn {
    position: relative;
    &_animated {
        animation: bottom_to_up 1s ease-out .7s;
        animation-fill-mode: backwards;
    }
    &:link,
    &:visited {
        @include style-link($color-gray);
        padding: 1.5rem 4rem;
        font-size: 2rem;
        background: $color-white;
        border-radius: 50px;
        transition: all .3s;
    }
    &:hover {
        transform: translateY(-4px);
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.3));
        &::after {
            content: '';
            opacity: 0;
            transform: scaleX(1.5) scaleY(1.7);
        }
    }
    &:active {
        transform: translateY(-2px);
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.1));
    }
    &::after {
        content: '';
        background: $color-white;
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
}

@keyframes bottom_to_up {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes left_to_right {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes right_to_left {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}