.section-about {
    padding-top: 8rem;
}

.title-secondary {
    display: inline-block;
    font-size: 3.6rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 800;
    background: linear-gradient(90deg, $color-browm-dark 0.03%, rgba(1, 1, 1, 0.7) 99.94%);
    background-clip: text;
    color: transparent;
    transition: transform .4s;
    backface-visibility: hidden;
    text-align: center;
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.05);
        text-shadow: 0rem .4rem .4rem rgba($color-black, 0.3);
    }
    &_white {
        color: $color-white;
    }
}

.title-third {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
}

.paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    line-height: 140%;
}

.section-adventure {
    padding: 21rem 0rem;
    margin: 15rem 0;
    background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../assets/images/section-adventure.jpg) center / cover no-repeat;
    transform: skewY(7deg);
    &>* {
        transform: skewY(-7deg);
    }
}

.section-tour {
    padding-top: 21rem;
    margin-bottom: 8rem;
}

.section-feedBack {
    padding-top: 8rem;
}