.btn-text {
    &:link,
    &:visited {
        display: inline-block;
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
        font-weight: 700;
        color: $color-gray;
        text-decoration: none;
        padding: 1rem;
        border-bottom: 1px solid $color-browm-dark;
        transition: all .5s;
    }
    &:hover {
        background: $color-browm-dark;
        color: $color-white;
        transform: translateY(-.2rem);
    }
    &:active {
        transform: translateY(0rem);
    }
}