.book {
    height: 50rem;
    background: linear-gradient(115deg, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, .8) 57%, rgba(186, 133, 80, .9) 57%, rgba(161, 79, 3, .9) 100%), url(../assets/images/bg-form.jpg) center / cover no-repeat;
    border-radius: .5rem;
    overflow: hidden;
}