.book {
    height: 50rem;
    background: linear-gradient(115deg, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, .8) 57%, rgba(186, 133, 80, .9) 57%, rgba(161, 79, 3, .9) 100%), url(../assets/images/bg-form.jpg) center / cover no-repeat;
    border-radius: .5rem;
    overflow: hidden;
}

.form {
    width: 75%;
    padding-top: 5rem;
    padding-left: 5rem;
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__group:nth-child(4) {
        margin-bottom: 4rem;
    }
    &__input {
        font-size: 1.6rem;
        letter-spacing: .2rem;
        font-weight: 400;
        color: $color-black;
        padding: 2rem 0rem 2rem 2rem;
        background: $color-white;
        border: none;
        border-bottom: .2rem solid transparent;
        border-radius: .5rem;
        width: 55%;
        &:focus {
            outline: none;
            border-bottom: .2rem solid #66d773;
        }
        &:focus:invalid {
            border-bottom: .2rem solid #D76363;
        }
    }
    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: 0;
        transform: translateY(-3rem);
    }
    &__label {
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: .2rem;
        display: block;
        margin-top: 1rem;
        margin-left: 1.5rem;
        transition: .7s all;
    }
    &__group-radio {
        display: inline;
        width: 40%;
    }
    &__label-radio {
        position: relative;
        cursor: pointer;
        padding-left: 4rem;
    }
    &__button-radio {
        position: absolute;
        top: -0.4rem;
        left: 0;
        display: block;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: .5rem solid $color-browm-dark;
        &::after {
            content: '';
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            background: $color-browm-dark;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: 0.2s all;
        }
    }
    &__input-radio {
        display: none;
    }
    &__input-radio:checked~&__label-radio &__button-radio::after {
        opacity: 1;
    }
}